<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
 <!--Header-->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">Highest-Paid NBA Players</a>
                </div>
            </div>
        </nav>
    </header>  
 <!--/Header--> 
 <!-- main site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"> <i class="fa-solid fa-circle-arrow-left"></i>All Players</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">New Player</h2>
                <span class="text-light"> Add new player using the the below form </span>
            </div>
            <!-- form-handling -->
            <form method="post" id="update_user">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">Name</label>
                            <input type="hidden" name="id" value="">
                            <input type="text" name="name" value="" placeholder="samim kohistani">
                    </div>
                    <div class="form-group">
                        <label for="name" class="text-light"> Age </label>
                        <input type="text" name="name" value="" placeholder="EX:22">
                    </div>
                    <div class="form-group">
                        <label for="name" class="text-light"> Team </label>
                        <input type="text" name="name" value="" placeholder="EX:Lakers">
                    </div>
                    <div class="form-group">
                        <label for="name" class="text-light"> Position </label>
                        <input type="text" name="name" value="" placeholder="EX:CF">
                    </div>
                    <div class="form-group">
                        <label for="name" class="text-light"> Contract Value </label>
                        <input type="text" name="name" value="" placeholder="$$$$$">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update"> Save </button>
                </div>

            </form>
        </div>
    </main>
 <!-- /main site -->
</body>
</html>