<!--include header-->
<%- include('include/_header')%>
<!--/include header-->


 <!-- main site -->
 <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"> <i class="fa-solid fa-circle-arrow-left"></i>All Players</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Player</h2>
            <span class="text-light"> Add new player using the the below form </span>
        </div>
<!--include form-->
<%- include('include/_form')%>
<!--/include form-->
    </div>
</main>
<!-- /main site -->


<!--include footer-->
<%- include('include/_footer')%>
<!--/include footer-->