<!--include header-->
<%- include('include/_header')%>
<!--/include header-->

 <!-- main site -->
 <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add-user" class="border-shadow">
                <span class="text-gradient"> New Player <i class="fa-solid fa-plus"></i> </span>
            </a>
        </div>
        <!-- form-handling -->
        <form action="/" method="post">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Player</th>
                        <th>Age</th>
                        <th>Team</th>
                        <th>Position</th>
                        <th>Contract</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%- include('include/_show')%>
                </tbody>
            </table>
        </form>
    </div>
</main>
<!-- /main site -->

<!--include footer-->
<%- include('include/_footer')%>
<!--/include footer-->
