<!-- form-handling -->
<form method="post" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
                <input type="hidden" name="id" value="">
                <input type="text" name="name" value="" placeholder="samim kohistani">
        </div>
        <div class="form-group">
            <label for="name" class="text-light"> Age </label>
            <input type="text" name="name" value="" placeholder="EX:22">
        </div>
        <div class="form-group">
            <label for="name" class="text-light"> Team </label>
            <input type="text" name="name" value="" placeholder="EX:Lakers">
        </div>
        <div class="form-group">
            <label for="name" class="text-light"> Position </label>
            <input type="text" name="name" value="" placeholder="EX:CF">
        </div>
        <div class="form-group">
            <label for="name" class="text-light"> Contract</label>
            <input type="text" name="name" value="" placeholder="$$$$$">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn text-dark update"> Save </button>
    </div>

</form>