<tr>
    <td>1</td>
    <td>name</td>
    <td>25</td>
    <td>Lakers</td>
    <td>SF</td>
    <td>$100,000,000</td>
    <td>
        <a href="/update-user" class="btn border-shadow update">
            <span class="text-gradient"><i class="fa-solid fa-pencil"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fa-sharp fa-solid fa-delete-left"></i></span>
        </a>
    </td>
</tr>